small {
  margin: 5px;
  font-size: 7pt;
}

.button-nav {
  /* background-image: url("./centern.png"); */
  width: 914px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  margin: 8px 4px 0 0px;
}

.c-nav {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 100%;
  background-image: url("./centern.png");
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}

button {
  background-image: url("./button.png");
  background-repeat: round;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  background-color: #4f4f4f;
  border: 2px solid #222222;
  text-align: center;
}
button:hover {
  color: #dddddd;
}

.select-buttons {
  position: relative;
  top: -8px;
  height: 40px;
  width: 80px;
  border-radius: 16px;
}
.purrge:focus {
  color: #ff7777;
}
.mewtate:focus {
  color: lightblue;
}
.catch-button {
  height: 36px;
  width: 70px;
}
.catch-button:focus {
  color: yellow;
}
.App {
  position: absolute;
  text-align: center;
  background-image: url("./bkgnd.jpg");
  height: 100%;
  width: 100%;
  /* max-height: 100vh;
  max-width: 100vw; */
  background-position: center;
  background-color: #282c34;
  overflow: hidden;
}

.App-logo {
  position: relative;
  bottom: -2vh;
  /* animation: App-logo-spin infinite 6s linear; */
  height: 20vh;
  margin: 1vh 1vw 0vh 0vw;
}
.App-logo:hover {
  height: 21vh;
  margin: 0vh 1vw 0vh 0vw;
}
.App-logo:active {
  transition: opacity 1s linear;
  opacity: 0;
}

.App-welcome {
  font-weight: bold;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
  color: grey;
}

.App-battle {
  padding: 0px;
  font-size: 15pt;
  font-weight: 400;

  max-height: 100vh;
  max-width: 100vw;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.App-battle {
  /* transform: ; */
}

.HUD {
  animation: shake infinite 1.12s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  /* perspective: 1000px; */
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
  /* opacity: 0.6; */
  pointer-events: none;
  mix-blend-mode: screen;
}

.Nav-bar {
  animation: shake infinite 1.12s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  /* margin: 1vh 0 0 0; */
  position: absolute;
  bottom: 1.6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background: #111111; */
  color: #aaaaaa;
  font-weight: bold;
  font-size: 9pt;
  height: 100px;
  width: auto;
  z-index: 2;
  margin: 0 0 0 0.85vw;
  opacity: 0.93;
}
.Nav-text {
  /* background-image: url("./cat-holic.png");
  background-repeat: round; */
  width: 100%;
}
.spacer {
  width: 10%;
  height: 100%;
  border: 1px solid red;
}
.Nav-logo {
  /* background-display: flex; */
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  /* height: 100px; */
  padding: 0px 10px 0px 50px;
}
.Nav-logo img {
  margin: 9px;
  height: 40px;
  width: 40px;
}

.App-link {
  color: white;
}

.Deck {
  animation: shake infinite 6.3s cubic-bezier(0.46, 0.1, 0.2, 0.97) both;
  /* margin: 10vh 0 0 0; */
  /* background */
  position: absolute;
  top: 50%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  /* align-items: flex-end; */
  /* height: auto; */
  /* width: 100%; */
  /* padding: 30px 0px; */
  /* z-index: 2; */
  opacity: 0.84;
  width: 1400px;
  margin: -160px 0 0 0;
  /* transition: transform 2s; */
}
.Deck:hover {
  /* opacity: 0; */
  /* transform: rotateY(180deg) rotateX(180deg); */
  /* transform: rotateX(180deg); */
}

.cat-ring {
  animation: shake infinite 6.3s cubic-bezier(0.46, 0.1, 0.29, 0.97) both;
  mix-blend-mode: color-dodge;
  opacity: 0.3;
  position: absolute;
  top: 45%;
  height: 116px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: -58px 0 0 0;
  align-items: flex-start;
}
.cat-ring-l {
  margin: auto 0px;
  /* z-index: 1; */
  width: 10%;
  height: 116px;
  /* position: relative;
  right: 0px; */
  /* z-index: 1; */
  background-image: url("./ringlef.png");
  background-repeat: no-repeat;
  background-position: right;
  mix-blend-mode: luminosity;
}
.cat-ring-m {
  width: 100%;
  height: 116px;
  background-image: url("./ringmid.png");
  background-repeat: repeat-x;
  background-position: center;
  opacity: 0.9;
  /* mix-blend-mode: ; */
}
.cat-ring-r {
  opacity: 0.62;
  /* z-index: 0; */
  margin: auto 0px;
  width: 0%;
  height: 116px;
  background-image: url("./ringrig.png");
  background-repeat: no-repeat;
  background-position: left;
  /* opacity: 0.6; */
}

.Card {
  /* margin: 10px; */
  /* padding: 10px;
  z-index: 2; */
  /* -webkit-transform: rotateY(45deg); */
}

.catholic {
  animation: shake infinite 24s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  position: absolute;
  background-image: url("./cat-holic.png");
  background-repeat: no-repeat;
  background-position-x: center;
  mix-blend-mode: lighten;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  /* position: absolute; */
  /* z-index: -1; */
}

@keyframes shake {
  10%,
  90% {
    transform: perspective(10cm) translate3d(-1px, 1px, 0);
  }

  20%,
  80% {
    transform: perspective(10cm) translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: perspective(10cm) translate3d(-4px, -3px, 0);
  }

  40%,
  60% {
    transform: perspective(10cm) translate3d(4px, 0, 0);
  }
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(420deg);
  }
} */
